[Unit]
Description=Transparent screen peeker, Pkshot
After=graphical.target
Wants=graphical.target
ConditionPathExists=!/etc/ssh/sshd_not_to_be_run
 
[Service]
EnvironmentFile=-/home/juan/pkshot/pkshot.conf
ExecStartPre=/home/juan/pkshot/comp.sh
ExecStart=/home/juan/pkshot/main.sh
ExecReload=/home/juan/pkshot/comp.sh
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure
RestartPreventExitStatus=1
Type=notify

[Install]
Alias=sshd.service


