[Unit]
Description=Transparent screen peeker, Pkshot
After=graphical.target
Wants=graphical.target
ConditionPathExists=/home/juan/pkshot/main.sh

[Service]
StandardOutput=journal
StandardError=journal
Environment=DISPLAY=:0
EnvironmentFile=-/home/juan/pkshot/pkshot.conf
ExecStart=/home/juan/pkshot/main.sh
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure
RestartPreventExitStatus=1
Type=simple

#[Install]

