[Unit]
Description=Transparent screen peeker, Pkshot
After=graphical.target
Wants=graphical.target
ConditionPathExists=/etc/pkshot/main.sh

[Service]
StandardOutput=journal
StandardError=journal
Environment=DISPLAY=:0
EnvironmentFile=-/etc/pkshot/pkshot.conf
ExecStart=/etc/pkshot/main.sh
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure
RestartPreventExitStatus=1
Type=simple

#[Install]

